<app-header></app-header>
<div id='div' class="col-md-10 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Profile</span>
        <span class="badge badge-secondary badge-pill">3</span>
    </h4>
    <form #profileForm='ngForm' (ngSubmit)='editProperty()' class="list-group mb-3 sticky-top">

        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
                <h6 class="my-0">Full Name</h6>
                <small *ngIf='edit === false' class="text-muted">{{user.fullname}}</small>

                <div *ngIf='edit === true'>
                    <input type='text' class='form-control' placeholder='Full Name' [(ngModel)]='user.fullname'
                        name='fullname' #fullname='ngModel' 
                        [ngClass]="{'is-invalid': fullname.touched && fullname.invalid}" required >

                    <div *ngIf='fullname.touched && fullname.invalid' class='invalid-feedback'>
                        <div *ngIf='fullname.errors!.required'>Full name is required</div>
                    </div>
                </div>
            </div>
        </li>

        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
                <h6 class="my-0">Email</h6>
                <small *ngIf='edit === false' class="text-muted">{{user.email}}</small>

                <div *ngIf='edit === true'>
                    <input type='email' class='form-control' [(ngModel)]='user.email'
                    name='email' #email='ngModel'
                    [ngClass]="{'is-invalid': email.touched && email.invalid}" email required>

                    <div *ngIf='email.touched && email.invalid' class='invalid-feedback'>
                        <div *ngIf='email.errors!.required'>Email is required</div>
                        <div *ngIf='email.errors!.email'>Enter a valid email address</div>
                    </div>
                </div>
            </div>
        </li>

        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
                <h6 class="my-0">Password</h6>
                <small *ngIf='edit === false' class="text-muted">{{user.password}}</small>

                <div *ngIf='edit === true'>
                    <input type='text' class='form-control' [(ngModel)]='user.password'
                    name='password' #password='ngModel' minlength='6'
                    [ngClass]="{'is-invalid': password.touched && password.invalid}" required>

                    <div *ngIf='password.touched && password.invalid' class='invalid-feedback'>
                        <div *ngIf='password.errors!.required'>Password is required</div>
                        <div *ngIf='password.errors!.minlength'>Password must be at least 6 digits</div>
                    </div>
                </div>
            </div>
        </li>

        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
                <h6 class="my-0">Address</h6>
                <small *ngIf='edit === false' class="text-muted">{{user.address}}</small>

                <div *ngIf='edit === true'>
                    <input type='text' class='form-control' [(ngModel)]='user.address'
                    name='address' #address='ngModel'>
                </div>
            </div>
        </li>

        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
                <h6 class="my-0">Phone Number</h6>
                <small *ngIf='edit === false' class="text-muted">{{user.phone}}</small>

                <div *ngIf='edit === true'>
                    <input type='text' class='form-control' [(ngModel)]='user.phone'
                    name='phone' #phone='ngModel'>
                </div>
            </div>
        </li>

        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
                <h6 class="my-0">Payment Card Number</h6>
                <small *ngIf='edit === false' class="text-muted">{{user.card}}</small>

                <div *ngIf='edit === true'>
                    <input type='text' class='form-control' [(ngModel)]='user.card'
                    name='card' #card='ngModel'>
                </div>
            </div>
        </li>

        <li class="list-group-item d-flex justify-content-between">
            <span></span>
            <button *ngIf='edit === false' class="btn btn-danger" type='button' (click)="editProperty()">Edit</button>
            <button *ngIf='edit === true' class="btn btn-success" type='submit' [disabled]='profileForm.form.invalid'>Save</button>
        </li>
    </form>
</div>
