<app-headerlogin></app-headerlogin>
<div class='container'>
    <h3 class='mb-3'>Reset Password</h3>
    <form #resetPasswordForm='ngForm' (ngSubmit)='onSubmit()'>
        <div class='form-group mb-3'>
            <input type='email' class='form-control' placeholder='Email' [(ngModel)]='userEmail'
                    name='email' #email='ngModel'
                    [ngClass]="{'is-invalid': email.touched && email.invalid}" email required>

            <div *ngIf='email.touched && email.invalid' class='invalid-feedback'>
                <div *ngIf='email.errors!.required'>Email is required</div>
                <div *ngIf='email.errors!.email'>Enter a valid email address</div>
            </div>
        </div>

        <button type='submit' class='btn btn-primary' [disabled]='resetPasswordForm.form.invalid'>Send Reset Password Link</button>
        <button routerLink='/login' type='button' class='btn btn-primary'>Login</button>
    </form>
</div>
